.cards-text {
    font-size: 0.9rem; /* Ukuran teks standar */
    color: #444; /* Warna teks yang nyaman dibaca */
    line-height: 1.6; /* Jarak antar baris */
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 300;
    background-color: #fff; /* Warna latar belakang */
}
