.cards-title {
    margin-left: 15px;
    margin-right: 5px;
    background-color: #ffffff; /* Warna latar belakang */
    color: #000000; /* Warna teks */
    text-transform: uppercase; /* Huruf besar */
    letter-spacing: 0.05rem; /* Jarak antar huruf */
    margin-bottom: -0.1rem; /* Jarak bawah dikurangi */
}

