$primary-color: #ffffff !default;
$secondary-color: #1d1d1d !default;
$text-color: rgb(8, 3, 3) !default;
$background-color: $primary-color !default;
$text-align-center: center;
$text-align-left: left;
$text-align-right: right;
$font-isi-article: 40px !default;
$font-family-barlow: 'Barlow', sans-serif;
$spacer: 8px;

$grid-breakpoints: (
    sm: 600px,
    md: 960px,
    lg: 1280px,
    xl: 1920px
);

$text-sizes: (
    h1: (6rem, 300, 1, -0.015625em),
    h2: (3.75rem, 300, 1, -0.0083333333em),
    h3: (3rem, 400, 1.05, normal),
    h4: (2.125rem, 400, 1.175, 0.0073529412em),
    h5: (1.5rem, 400, 1.333, normal),
    h6: (1.25rem, 500, 1.6, 0.0125em),
    subtitle-1: (1rem, normal, 1.75, 0.009375em),
    subtitle-2: (0.875rem, 500, 1.6, 0.0071428571em),
    body-1: (1rem, 400, 1.5, 0.03125em),
    body-2: (0.875rem, 400, 1.425, 0.0178571429em),
    button: (0.875rem, 500, 2.6, 0.0892857143em, uppercase),
    caption: (0.75rem, 400, 1.667, 0.0333333333em),
    overline: (0.75rem, 500, 2.667, 0.1666666667em, uppercase)
);