@use 'variables' as vars;
@use "button" as *;
@use "grid" as *;
@use "card" as *;
@use 'mixins' as *;
@use 'utilities' as *;
@use "sass:math" as *;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: vars.$font-family-base;
  margin: 0;
  padding: 0;
}